@import '~style/variables';

.Container {
  margin-top: 56px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
  min-height: calc(100vh - @footer-height);
}

.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: darken(@brand-primary, 20%);
  min-height: 300px;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  padding: 0 20px;

  @media (min-width: 320px) and (max-width: 480px) {
    font-size: 70%;
  }

  :global(.mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--textarea)) {
    border-color: #fff;
  }

  :global(.mdc-text-field--fullwidth:not(.mdc-text-field--textarea) .mdc-text-field__input::placeholder),
  :global(.mdc-text-field--fullwidth:not(.mdc-text-field--textarea) .mdc-text-field__input),
  :global(.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label) {
    color: #fff;
  }

  button {
    margin: 0 auto;
  }

  button a {
    text-decoration: none;
    color: #fff;
  }
}

.Presentation {
  max-width: 1000px;

  @media (min-width: 480px) {
    display: grid;
    grid-template-areas: "a a a a a a"
    "c c c c c c";
    grid-template-columns: repeat(6, 1fr);
  }

  > div {
    padding: 20px;
    grid-area: a;

    &:nth-child(1) {
      grid-column-end: 4;
    }

    &:nth-child(2) {
      grid-column-start: 4;
    }

    &:nth-child(3) {
      grid-area: c;
      grid-column: 2 / 4 span;
    }
  }

  h2 {
    text-align: center;

    i {
      height: 1em;
      width: 1em;
    }
  }

  p,
  li {
    font-size: 1.1em;
    line-height: 1.4em;
  }

  li {
    margin: 5px 0;
  }
}
